version: '3.7'

services:
  front:
    build: .
    command: sh -c "npm start"
    ports:
      - <host>:80:4200
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
      - ./node_modules:/home/node/app/node_modules
